<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Agregar Estudiante</mat-card-title>
        <mat-card-subtitle>Nuevo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
            <mat-label>Ingrese los datos del estudiante</mat-label>
            <div class="form-fields">
                <mat-form-field [floatLabel]="floatLabel()">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" id="name" type="text" formControlName="name" />
                    <div>
                        <mat-error
                            *ngIf="studentForm.get('name')?.invalid && (studentForm.get('name')?.dirty || studentForm.get('name')?.touched)">
                            Nombre requerido
                        </mat-error>
                    </div>
                </mat-form-field>

                <mat-form-field [floatLabel]="floatLabel()">
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Apellido" id="surname" type="text" formControlName="surname" />
                    <div>
                        <mat-error *ngIf="studentForm.get('surname')?.hasError('required')">
                            Apellido requerido
                        </mat-error>
                    </div>
                </mat-form-field>

                <mat-form-field [floatLabel]="floatLabel()">
                    <mat-label>Género</mat-label>
                    <input matInput placeholder="Género" type="text" id="gender" formControlName="gender" />
                    <div>
                        <mat-error *ngIf="studentForm.get('gender')?.invalid && (studentForm.get('gender')?.dirty || studentForm.get('gender')?.touched)">
                            Género es requerido
                        </mat-error>                       
                    </div>
                </mat-form-field>

                
            </div>
            
            <div class="form-fields">
                <mat-form-field [floatLabel]="floatLabel()">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Teléfono" id="phone" type="text" formControlName="phone" />
                    <div>
                        <mat-error *ngIf="studentForm.get('phone')?.invalid && (studentForm.get('phone')?.dirty || studentForm.get('phone')?.touched)">
                            Teléfono requerido
                        </mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field [floatLabel]="floatLabel()">
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Dirección" type="text" id="address"
                        formControlName="address" />
                    <div>
                        <mat-error *ngIf="studentForm.get('address')?.invalid && (studentForm.get('address')?.dirty || studentForm.get('address')?.touched)">
                            Dirección requerida
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <!-- <button matButton type="submit">Guardar</button> -->
        <button matButton type="button" (click)="onSubmit()" [disabled]="studentForm.invalid">Guardar</button>
        <button matButton type="reset" (click)="onReset()">Limpiar</button>
    </mat-card-actions>

    {{studentForm.value | json}}
    {{studentForm.invalid | json}}
</mat-card>