<div class="container">
  <app-toolbar class="toolbar"></app-toolbar>
  <app-navbar (activeSection)="changeSection($event)" class="navbar"></app-navbar>
  <div class="content">

    <ng-container *ngIf="activeSection === 'formStudent'">
      <app-add-form (studentAdded)="addStudent($event)"></app-add-form>
      <div class="divider">
        <mat-divider role="separator"></mat-divider>
      </div>
    </ng-container>
    
    <ng-container *ngIf="activeSection === 'listStudents'">
      <h2>Lista de estudiantes</h2>
      <app-students-table [students]="students" (studentsChangeList) ="deleteStudent($event)" ></app-students-table>
    </ng-container>
    
    <!-- <app-add-form (studentAdded)="addStudent($event)" ></app-add-form> -->
    <!-- <h2>Lista de estudiantes</h2>
    <app-students-table [students]="students"></app-students-table> -->
    <!-- {{students | json}} -->
  </div>
</div>
