@use '@angular/material' as mat;

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html {
  height: 100%;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.snack-bar-overrides((
    button-color: rgb(255, 216, 145),
    container-color: rgb(67, 109, 63),
  ));
}

// :root {
//   @include mat.card-overrides((
//     elevated-container-color: orange,
//     elevated-container-elevation: red,
//   ));
// }